.nav-sidebar li{
  padding:10px;
}
.nav-sidebar div{
   font-weight:bold;
}
.nav-sidebar div + div{
   font-weight:normal;
}
.nav-sidebar > li.active,
.nav-sidebar > li:hover,
.nav-sidebar > li:focus {
  background-color: #428bca;
}
.nav-sidebar > li.active > a,
.nav-sidebar > li:hover > a,
.nav-sidebar > li:focus > a{
  color: #fff;
  text-decoration:none;
}